<p id="notice"><%= notice %></p>

<h1>Cotação do Real em relação ao Dólar</h1>

<% if @brl_exchange_rates.empty? %>
  <div>
    Não há elementos cadastrados
  </div>
<% else %>
  <p>
    <%= "Menor cotação no período: R$ #{@minimum_exchange_rate} no dia #{@minimum_date}" %><br />
    <%= "Maior cotação no período: R$ #{@maximum_exchange_rate} no dia #{@maximum_date}" %><br />
    <%= "Cotação média: #{@average_rate}" %>
  </p>
<% end %>
