<h1>Cotação do Real em relação ao Dólar</h1>

<div style="border: 1px solid; padding: 5px;">
  <% if @brl_exchange_rates.empty? %>
      <h3>Não há elementos cadastrados, execute rake db:seed no terminal</h3>
  <% elsif @brl_exchange_rates.count != @total_of_days %>
    <h3>Nem todos os elementos foram cadastrados, execute rake db:seed no terminal até o fim</h3>
  <% else %>
      <h3>1. Em qual dia foi observado o menor valor?</h3>
      <p><%= "R: Menor cotação no período entre #{@initial_date} e #{@final_date}: US$ 1 = R$ #{@minimum_exchange_rate} no dia #{@minimum_date}" %><br /></p>

      <h3>2. Em qual dia foi observado a maior valor?</h3>
      <p><%= "R: Maior cotação no período entre #{@initial_date} e #{@final_date}: US$ 1 = R$ #{@maximum_exchange_rate} no dia #{@maximum_date}" %><br /></p>

      <h3>3. Qual é a média da cotação para esse período, excetuando os dias de início e fim?</h3>
      <p><%= "R: Cotação média no período entre #{@average_initial_date} e #{@average_final_date}: US$ 1 = R$ #{@average_rate}" %></p>

  <% end %>
</div>
